@{
    ViewData["Title"] = "INFY CABS";
}



<body background="/images/CAR.IMAGE.jpg">

<div> 


    <marquee><h2 class="display-4">WELCOME TO INFY CABS</h2></marquee>

 </div>
 
 <div class="align-content-center">

     
    <h2><a href="https://localhost:7166/Accounts/Home/Login">BOOK YOUR RIDE</a></h2>

</div>
</body>
