@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p><b>INFYCABS</b></p>

<p>INFYCABS is InfoPark Kochi's first cab service started by Experion , Kochi.<p>
<p>INFYCABS idea came into being as a ILP project for the Trainees as a Infoparks's taxi and later it lead to the building of Infopark's first techies Cab , the INFYCABS.</p>
