@model CabManagement.Models.ViewModel.DriverViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DriverViewModel</h4>
<hr />
<div class="row">

<div>
    <a asp-action="Index">Back to List</a>
</div>

